.filter-container {
  margin-bottom: 10px;
}

.filter-dropdown {
  border-radius: 10px;
  padding: 8px 12px;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #585292;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  caret-color: #000000;
}

.filter-dropdown option {
  background-color: #ffffff;
  color: #000000;
}

.filter-dropdown option:hover {
  background-color: #585292;
  color: #ffffff;
}

.filter-dropdown option:checked {
  background-color: #585292;
  color: #ffffff;
}

.filter-dropdown:focus {
  outline: none;
  cursor: pointer;
  color: #000000;
  background-color: #ffffff;
}
