body {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  min-height: 100vh;
}

.display {
  width: 100%; /* Default width for smaller screens */

  @media (min-width: 768px) {
    width: 500px; /* Adjust width for medium-sized screens */
  }

  @media (min-width: 1024px) {
    width: 800px; /* Adjust width for larger screens */
  }
}

//Progress

.progress {
  background-color: #e07c7c;
  padding-left: 20px;
  padding-top: 0.02px;
  padding-bottom: 1px;
  border-radius: 20px;
  padding-right: 20px;
  color: white;

  h1 {
    font-weight: 500;
    font-size: 28px;
  }

  p {
    color: #ebb9b8;
  }
}

//Display Task

.task {
  background-color: white;
  margin-top: 17px;
  padding: 15px;
  border-radius: 30px;
}

.display-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gap {
  margin-top: 35px;
}


//Custom Checkbox
.checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  padding-right: 15px;
  margin-left: 4px;
}

input[type=checkbox] {
  visibility: hidden;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: white;
  border: 2px solid #585292;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 5px;
}

.checkbox input:checked ~ .checkmark {
  background-color: #585292;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 8px;
  bottom: 6px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


//Save Button 
.save-button {
  display: block;
  width: 64px;
  height: 36px;
  border: none;
  color: #fff;
  background: #585292;
  border-radius: 999px;
  cursor: pointer;
}

//Input
.edit-input {
  background-color: white;
  border-radius: 30px;

  input {
    border: transparent;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    color: #333;
    width: 100%;
    margin: 0 5px 0 5px;
  }

  ::placeholder {
    color: #BCBCBC;
  }
}
