.filter-dropdown {
  border-radius: 10px;
  padding: 8px 50px 8px 10px;
  background-color: #ffffff;
  border: transparent;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  option {
    display: block;
    padding: 8px;
    cursor: pointer;
    font-size: 14px;

    &:hover {
      background-color: #585292;
      color: #ffffff;
    }

    &:checked {
      background-color: #585292;
      color: #ffffff;
    }
  }
}


